<h3 class="back">設定</h3>

<div class="profile-change">
    <div class="profile-change-links">
        <p><%= link_to "アカウント", "/users/account", class: "profile-change-link red"%></p>
        <p><%= link_to "プロフィール", "/users/profile", class: "profile-change-link" %></p>
    </div>
    <div class="acount-config">
        <div class="account-edit">
            <h2>アカウント</h2>
            <p></p>
        </div>
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%# <%= render "devise/shared/error_messages", resource: resource %>
        <%= render "shared/error", obj: @user %>
        <div class="acount-config-content">
            <div>
                <h3><%= f.label :email %><span class="red">*</span></h3>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div>
                <h3><%= f.label :password %>（変更する場合）</h3>
                <%= f.password_field :password, autocomplete: "new-password" %>
                <% if @minimum_password_length %>
                <br />
                <em>(<%= @minimum_password_length %> 字以上で設定してください)</em>
                <% end %>
            </div>
            <div>
                <h3><%= f.label :password_confirmation %></h3>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
            <div>
                <h3><%= f.label :current_password %><span class="red">*</span></h3>
                <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>
            <div class="account-save">
                <p><%= f.submit "保存", class:"account-submit-button" %></p>
                <p><%= link_to "キャンセル", "/users/account", class:"acount-cancel-link" %></p>
            </div>
        </div>
        <% end %>
    </div>
</div>