<div class="top-list">
<h3>一覧</h3>
</div>

<div>
    <% @reservations.each do |reservation| %>
        <tr>
            <th>チェックイン</th>
            <td>
            <%= reservation&.checkin&.strftime('%Y/%m/%d') %>
            </td>
            <th>チェックアウト</th>
            <td>
            <%= reservation&.checkout&.strftime('%Y/%m/%d') %>
            </td>
            <th>宿泊人数</th>
            <td>
            <%= reservation.people %>
            </td>
            <th>部屋番号</th>
            <td>
                <%= reservation.room_id %></p>
            </td>
            <td><%= link_to "詳細はこちら", reservation %></td>
            <td><%= link_to "編集", edit_reservation_path(reservation) %></td>
            <td><%= link_to "削除", reservation, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        </tr>
    <% end %>
</div>

<p><%= link_to "新規追加", new_reservation_path, class:"link" %></p>