
<div class="top-list">
<h3>一覧</h3>
</div>

<div>
    <% @rooms.each do |room| %>
        <div>
            <%= room.room_name %>
            <%= room.room_address %>
            <%= room.room_detail %>
            <%= room.room_fee %>
            <%= link_to "詳細はこちら", room %>
            <%= link_to "編集", [:edit, room] %>
            <%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </div>
    <% end %>
</div>

<p><%= link_to "新規追加", new_room_path, class:"link" %></p>
 