<%= form_with model: @user, url: intro_path(@user), local: true do |f| %>
 
  <%= render "shared/error", obj: @user %>

    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    <div class="field">
        <%= f.label :profile %><br>
        <%= f.text_field :profile, autofocus: true, autocomplete: "profile" %>
    </div>
    <div class="field">
    <%= f.label :profile_image %><br/>
    <%= f.file_field :profile_image, autofocus: true, autocomplete: "profile_image" %>
    <%= f.hidden_field :profile_image_cache %>
    </div>

    <%= f.hidden_field :current_password, autocomplete: "current-password" %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>